@import url('https://fonts.googleapis.com/css?family=Rammetto+One');


nav ul li a {
	color: black;
  }
nav .brand-logo {
	color: black;
	font-family: 'Rammetto One', cursive;
	font-size: 300%;
}

#byline-and-photo h3 {
	font-size: 75%;
}

#byline-and-photo img {
	float: left;
	padding: right
}