@import url('https://fonts.googleapis.com/css?family=Rammetto+One|Nanum+Myeongjo|Playfair+Display');

h1 {
	font-family: 'Playfair Display', serif;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 300%;
}

p {
	font-family: 'Nanum Myeongjo', serif;
}

#byline-and-photo h3 p {
	font-size: 75%;
}

#byline-and-photo img {
	float: left;
	padding: right
}

#album-art-banner img {
	margin: 0;
	padding: 0;
	width: 18%;
}

.my {
	font-weight: 100;
}
.fav {
	font-weight: 100;
}
.twenty {
	font-weight: 600;
}

/* Materialize Modifications */
nav {
	font-weight: 100;
}
nav ul li a {
	color: black;
  }
nav .brand-logo {
	color: black;
}